/**
 *
 * Apply your custom CSS here
 *
*/

@media screen and (min-width: 768px) {
	.navbar.horizontal-menu.navbar-minimal {height: 65px; border-top: 15px solid #323a45; color: black;
}

body {	
	background-color: #323a45;
	font-family: "Source Sans Pro","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
}

.page-container .main-content { padding: 25px 25px;
}
.panel {

    padding: 20px 30px;
	margin-bottom: 15px;
}

a {
}
.xe-widget.xe-progress-counter.xe-progress-counter-red {
    background-color: #760000;
}
.xe-widget.xe-progress-counter.xe-progress-counter-grey {background: #999999;}
.xe-widget.xe-progress-counter.xe-progress-counter-grey .xe-upper {background: transparent;}
.xe-widget.xe-counter.xe-counter-grey .xe-icon i {background: #999999; }
.xe-lower i {font-size: 16px; margin-top: 10px; margin-right: 5px;}
.xe-widget.xe-counter-block .xe-lower, .xe-widget.xe-progress-counter .xe-lower {text-align: right;}
a.disabled {cursor: default; display: none;}
a.disable i {opacity: 50%;}
.xe-lower a i {color: white;}
.xe-widget.xe-counter-block .xe-lower, .xe-widget.xe-progress-counter .xe-lower {padding: 5px 30px;}
.xe-widget.xe-counter-block .xe-lower strong, .xe-widget.xe-progress-counter .xe-lower strong { line-height: 40px;}
.xe-widget.xe-progress-counter {min-height: 150px;}
.bg-info {
    background-color: purple;
	font-family: "Merriweather";
}

@font-face {
  font-family: 'Merriweather';
  src: url('../css/fonts/merriweather-bold-webfont.eot');
  src: url('../css/fonts/merriweather-bold-webfont.eot?#iefix') format("embedded-opentype"),url(../css/fonts/merriweather-bold-webfont.woff2) format("woff2"),url(../css/fonts/merriweather-bold-webfont.woff) format("woff"),url(../css/fonts/merriweather-bold-webfont.ttf) format("truetype"),url(../css/fonts/merriweather-bold-webfont.svg#merriweatherbold) format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../css/fonts/merriweather-regular-webfont.eot');
  src: url('../css/fonts/merriweather-regular-webfont.eot?#iefix') format("embedded-opentype"),url(../css/fonts/merriweather-regular-webfont.woff2) format("woff2"),url(../css/fonts/merriweather-regular-webfont.woff) format("woff"),url(../css/fonts/merriweather-regular-webfont.ttf) format("truetype"),url(../css/fonts/merriweather-regular-webfont.svg#merriweatherregular) format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../css/fonts/sourcesanspro-regular-webfont.eot');
  src: url('../css/fonts/sourcesanspro-regular-webfont.eot?#iefix') format("embedded-opentype"),url(../css/fonts/sourcesanspro-regular-webfont.woff2) format("woff2"),url(../css/fonts/sourcesanspro-regular-webfont.woff) format("woff"),url(../css/fonts/sourcesanspro-regular-webfont.ttf) format("truetype"),url(../css/fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular) format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../css/fonts/sourcesanspro-semibold-webfont.eot');
  src: url('../css/fonts/sourcesanspro-semibold-webfont.eot?#iefix') format("embedded-opentype"),url(../css/fonts/sourcesanspro-semibold-webfont.woff2) format("woff2"),url(../css/fonts/sourcesanspro-semibold-webfont.woff) format("woff"),url(../css/fonts/sourcesanspro-semibold-webfont.ttf) format("truetype"),url(../css/fonts/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold) format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../css/fonts/merriweather-bold-webfont.eot');
  src: url('../css/fonts/merriweather-bold-webfont.eot?#iefix') format("embedded-opentype"),url(../css/fonts/merriweather-bold-webfont.woff2) format("woff2"),url(../css/fonts/merriweather-bold-webfont.woff) format("woff"),url(../css/fonts/merriweather-bold-webfont.ttf) format("truetype"),url(../css/fonts/merriweather-bold-webfont.svg#merriweatherbold) format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../css/fonts/merriweather-regular-webfont.eot');
  src: url('../css/fonts/merriweather-regular-webfont.eot?#iefix') format("embedded-opentype"),url(../css/fonts/merriweather-regular-webfont.woff2) format("woff2"),url(../css/fonts/merriweather-regular-webfont.woff) format("woff"),url(../css/fonts/merriweather-regular-webfont.ttf) format("truetype"),url(../css/fonts/merriweather-regular-webfont.svg#merriweatherregular) format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../css/fonts/sourcesanspro-regular-webfont.eot');
  src: url('../css/fonts/sourcesanspro-regular-webfont.eot?#iefix') format("embedded-opentype"),url(../css/fonts/sourcesanspro-regular-webfont.woff2) format("woff2"),url(../css/fonts/sourcesanspro-regular-webfont.woff) format("woff"),url(../css/fonts/sourcesanspro-regular-webfont.ttf) format("truetype"),url(../css/fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular) format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../css/fonts/sourcesanspro-semibold-webfont.eot');
  src: url('../css/fonts/sourcesanspro-semibold-webfont.eot?#iefix') format("embedded-opentype"),url(../css/fonts/sourcesanspro-semibold-webfont.woff2) format("woff2"),url(../css/fonts/sourcesanspro-semibold-webfont.woff) format("woff"),url(../css/fonts/sourcesanspro-semibold-webfont.ttf) format("truetype"),url(../css/fonts/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold) format("svg");
  font-weight: 600;
  font-style: normal;
}

